/.idea
/.github/release-to-discord/node_modules
/config/tuoni.env
/config/tuoni.yml
/ssl/client/client.crt
/ssl/client/client-private.pem
/ssl/server/server.pem
/ssl/server/server-public.pem
/ssl/server/server-private.pem
/ssl/server/server-selfsigned.keystore
/data/
/logs/
/payload-templates/
/plugins/server/*
/plugins/client/*
/nginx/tuoni.conf
/scripts/tools/*
!/scripts/tools/.gitkeep
!.gitkeep

# include default launchers
!plugins/client/default