name: Release to Discord

# Only run when a release is published
on:
  release:
    types: [published]

# Explicitly define minimal permissions
permissions:
  contents: read

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          sparse-checkout: |
            .github/release-to-discord
      - name: Release notes to Discord
        run: cd .github/release-to-discord && npm install && node release-to-discord.js
        env:
          DISCORD_RELEASES_WEBHOOK_URL: ${{ secrets.DISCORD_RELEASES_WEBHOOK_URL }}
